body{
    overflow-x: hidden;
    /*background-color: #e3edcd;*/
}
#wrapper{
    padding-left: 150px;
}
#sidebar{
    z-index:1000;
    margin-left: -150px;
    position: fixed;
    width: 150px;
    height: 100%;
    background: #000000;
    overflow-y: auto;
}
.sidebar-nav{
    position: absolute;
    top:0;
    width: 150px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.sidebar-nav li{
    text-indent: 20px;
    line-height: 40px;
}
.sidebar-nav li a{
    display: block;
    color: #999999;
}
.sidebar-nav li a:hover {
  text-decoration: none;
  /*color: #ff433d;*/
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}
.sidebar-nav>.sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}
.sidebar-nav>.sidebar-brand a {
  color: #999999;
}
.sidebar-nav>.sidebar-brand a:hover {
  color: #fff;
  background: none;
}

#rigth-top{
    /*margin-left: -125px;*/
    width: 100%;
    text-align: center;
    /*margin-right: -250px;*/
}
h1{
    /*background-color: #1b6d85;*/
    text-align: center;
}
#right-left{
    width: 50%;
    float: left;
    height: 100%;
    position: relative;
    overflow: auto;
    padding-left: 10px;
}
#right-rigth{
    width: 50%;
    float: right;
}
#main-right{
    /*left:250px;*/
    position: relative;
    width: 100%;
    padding: 0;
    overflow: hidden;
    /*clear: both;*/
    /*margin: 0;*/
    /*background-color: #2e6da4;*/
}
#weihaixingwei{
    /*border:1px solid;*/
    padding-left:20px;
    border:1px solid #96c2f1;
    background:#eff7ff;
}
.checkbox{
    margin: 0;
}
.table td{
     border: 1px solid transparent !important;
}
#zhuti,#cheliangleixing,#qita,#weihaijieguo{
    padding-left:25px;
    padding-top: 5px;
    padding-bottom: 10px;
    border:1px solid #96c2f1;
    background:#eff7ff;


}
.form-control{
    width: 70px;
    height: 40px;
}
td>label{
    margin-bottom: 0;
    vertical-align:middle;
}
#danyuange{

}
#danyuange label{
    float: left;
    margin-top: 5px;
    font-weight: normal;
}
#danyuange select{
    float: right;
}
.form-control{
    display: inline-block;
    vertical-align: middle;
    width: auto;
    float: left;
}

#qita label{
    float: left;
    margin-top: 5px;
    font-weight: normal;
}
#r-l-b{
    text-align: center;
    padding-top: 10px;
}
#anli{
    padding: 15px;
}
#siwangrenshu,#zhongshangrenshu{
    width: 56px;
    padding: 0;
    height: 30px;

}
#weihaijieguo select ,#weihaijieguo input{
    right: 200px;
    position:absolute;
}
#myTabContent{
    overflow-y:scroll;
    height: 706px;
}
